<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3t text-light">
    © 2023 Copyright:
    <a class="text-light" href="https://github.com/NurkaAmre">NurkaAmre</a>
  </div>
  <!-- Copyright -->
</footer>