<% @users.each do |user|%>
<div class='d-flex'>
<div class="card m-5 text-decoration-none" style="width: 20rem; heigth: 20rem;">
      <% if user.photo %>
        <img src="<%= user.photo %>" class="rounded float-start" alt="...">
      <% else %>
          <p> No image found </p>
      <% end %>
</div>
  <div class="card mt-5 mb-5 --bs-dark bg-warning border border-dark-subtle" style="width: 50rem;">
  <div class="card-body ">
    <h1 class="card-title text-black text-decoration-none"><%= user.name %></h1>  
    <%= link_to "See Details", user_path(user), class: "btn btn-secondary mt-3" %>
     <h6 class="card-text text-black text-end">Number of posts: <span><%= user.PostsCounter %></span></h6>
  </div>
    </div>
    </div>
<% end %>